/* Add CSS Styling */
.odd {
    background-color: rgb(219, 15, 83);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#two {
    color: #00f;
    font-size: 36px
}

.adjust-font-size {
    font-size: 24px;
}

#forth{
    background-color: #75e675;
    font-weight: bold;
}
