/* Add CSS Styling */
.first, .second {
    font-size: 28px;
    font-family: 'Helvitica', 'Times New Roman', snas-serif;
}

.first {
    background-color: black;
    color: white;
}

.second {
    background-color: yellow;
}